h3{
    text-align: center;
    font-size: xx-large;
}

input{
    border-color: lightgray;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

label{
    font-weight: bold;
    padding: 0px;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
}

#registerBtn{
    background-color: #428bca;
}

#signInBtn{
    background-color: green;
}

.twoEntries{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.oneEntry{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.signup{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

.check{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


:focus {
    border: 1px solid #72b5ea;
    box-shadow: lightblue 0px 0px 10px;
    outline: none;
}